/*Lato font*/

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/*Lato font*/

/* PT sans font*/

.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-bold {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.pt-sans-regular-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.pt-sans-bold-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/* PT sans font*/

* {
    padding: 0px;
    margin: 0px;
}

body {
  overflow-x: hidden;
}

/* Conteiner header da página */
#cabecalho-pagina {
    box-shadow: 1px 1px 2px black;
    padding: 10px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F9FA;
}

/* Conteiner barra de navegação */
#nav-barra {
    font-size: 18px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Âncoras da barra de navegação */
#nav-barra a {
    padding: 3px 4px;
    margin: 0px 15px;
    transition: all .08s;
    color: #343A40;
    text-decoration: none;
}

/* Âncoras da barra de navegação (hover)*/
#nav-barra a:hover {
    border-radius: 5px;
    background-color: #e6e6ff;
    cursor: pointer;
    font-size: 22px;
    /* margin-left: 18px;
    margin-right: 18px; */
}

/* Div dos P's títulos da página*/
#div-titulo-pagina {
    height: auto;
    width: 480px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    margin-bottom: 15px;
}

/* Botão de entrar do header*/
#btn-entrar {
    margin-right: 20px;
    height: 30px;
    width: 70px;
    padding: 6px;
    border: none;
    background-color: #007BFF;
    color: #e6e6ff;
    transition: all .1s;
}

/* Botão de entrar do header (hover)*/
#btn-entrar:hover {
    margin-right: 20px;
    height: 30px;
    width: 70px;
    padding: 6px;
    border: none;
    background-color: #e6e6ff;
    color: #007BFF;
    cursor: pointer;
}

/* P's títulos do header*/
#div-titulo-pagina p {
    margin-bottom: -14px;
    /* text-shadow: 1px 1px 2px #663800; */
    color: #007BFF;
}

/* P1 título do header*/
#titulo-1 {
    font-size: 30px;
}

/* P2 título do header*/
#titulo-2 {
    font-size: 35px;
}

#main-pagina {
  padding: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

#div-titulo-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  color: #343A40;
  margin-top: 60px;
  margin-left: 15px;
}

#div-p-titulo-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

@keyframes cor-fluindo {
  0% { color: #007BFF; }
  25% { color: #015bbb; }
  50% { color: #004997; }
  75% { color: #015bbb; }
  100% { color: #007BFF; }
}

#p1-titulo-main {
  color: #007BFF;
  font-size: 70px;
  animation: cor-fluindo 5s infinite;
}

#p2-titulo-main {
  margin-top: -18px;
  font-size: 35px;
}

#p-subtitulo {
  font-size: 21px;
  margin-top: 30px;
  text-align: center;
}

@keyframes imagens-crescendo1 {
  0% {transform: scale(1.0);}
  5% {transform: scale(1.0);}
  10% {transform: scale(1.0);}
  15% {transform: scale(1.0);}
  20% {transform: scale(1.08);}
  25% {transform: scale(1.08);}
  30% {transform: scale(1.08);}
  35% {transform: scale(1.08);}
  40% {transform: scale(1.08);}
  45% {transform: scale(1.08);}
  50% {transform: scale(1.08);}
  55% {transform: scale(1.08);}
  60% {transform: scale(1.08);}
  65% {transform: scale(1.08);}
  70% {transform: scale(1.08);}
  75% {transform: scale(1.08);}
  80% {transform: scale(1.08);}
  85% {transform: scale(1.0);}
  90% {transform: scale(1.0);}
  95% {transform: scale(1.0);}
  100% {transform: scale(1.0);}
}

@keyframes imagens-crescendo2 {
  0% {transform: scale(1.0);}
  5% {transform: scale(1.0);}
  10% {transform: scale(1.0);}
  15% {transform: scale(1.0);}
  20% {transform: scale(1.0);}
  25% {transform: scale(1.0);}
  30% {transform: scale(1.0);}
  35% {transform: scale(1.0);}
  40% {transform: scale(1.08);}
  45% {transform: scale(1.08);}
  50% {transform: scale(1.08);}
  55% {transform: scale(1.08);}
  60% {transform: scale(1.08);}
  65% {transform: scale(1.08);}
  70% {transform: scale(1.08);}
  75% {transform: scale(1.08);}
  80% {transform: scale(1.08);}
  85% {transform: scale(1.0);}
  90% {transform: scale(1.0);}
  95% {transform: scale(1.0);}
  100% {transform: scale(1.0);}
}

@keyframes imagens-crescendo3 {
  0% {transform: scale(1.0);}
  5% {transform: scale(1.0);}
  10% {transform: scale(1.0);}
  15% {transform: scale(1.0);}
  20% {transform: scale(1.0);}
  25% {transform: scale(1.0);}
  30% {transform: scale(1.0);}
  35% {transform: scale(1.0);}
  40% {transform: scale(1.0);}
  45% {transform: scale(1.0);}
  50% {transform: scale(1.0);}
  55% {transform: scale(1.0);}
  60% {transform: scale(1.08);}
  65% {transform: scale(1.08);}
  70% {transform: scale(1.08);}
  75% {transform: scale(1.08);}
  80% {transform: scale(1.08);}
  85% {transform: scale(1.0);}
  90% {transform: scale(1.0);}
  95% {transform: scale(1.0);}
  100% {transform: scale(1.0);}
}

figure img {
  border-radius: 20px;
  height: 380px;
  width: 380px;
  transition: all .1s;
}

#img-figure-1 {
  animation: imagens-crescendo1 8s infinite;
}

#img-figure-2 {
  animation: imagens-crescendo2 8s infinite;
}

#img-figure-3 {
  animation: imagens-crescendo3 8s infinite;
}

figure img:hover {
  transform: scale(1.05);
}

#div-imagens-main {
  display: flex;
  flex-direction: row;
  margin: 40px 15px;
  justify-content: space-between;
}

figcaption {
  text-align: justify;
  width: 380px;
  font-size: 18px;
  margin-top: 10px;
}

#sec-cursos {
  margin: 30px 20px;
}

#titulo-cursos {
  font-size: 40px;
  color: #23903c;
  margin: 20px 0px;
}

.curso {
  border-radius: 8px;
  padding: 15px;
  /* box-shadow: 2px 2px 5px black; */
  border: 1px solid #79828b;
  margin-top: 30px;
  margin-bottom: 50px;
}

.descricao-curso {
  display: flex;
  flex-direction: row;
} 

.titulo-curso {
  font-size: 28px;
  color: #343A40;
}

.curso img {
  border-radius: 10px;
  margin-top: 30px;
  height: 300px;
  width: 350px;
  transition: all .1s;
}

.curso img:hover {
  transform: scale(1.02);
}

.p-descricao {
  width: 900px;
  color: #343A40;
  font-size: 20px;
  text-align: justify;
}

.subdiv-descricao-curso {
  margin: 30px 50px;
  display: flex;
  flex-direction: column;
}

.p-titulo-topicos {
  margin-top: 23px;
  font-size: 20px;
}

.listas-topicos {
  margin-top: 17px;
  margin-left: 21px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.lista-topicos li {
  margin-bottom: 8px;
  color: #343A40;
  font-size: 18px;
}

.btn-iniciar-curso {
  margin-left: 140px;
  width: 200px;
  height: 50px;
  background-color: #007BFF;
  color: #e6e6ff;
  border: none;
  font-size: 20px;
  border-radius: 10px;
  transition: all .1s;
}

.btn-iniciar-curso:hover {
  color: #007BFF;
  background-color: #e6e6ff;
  cursor: pointer;
  transform: scale(1.1);
}





